@use "variables";

.inputbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2rem;
    width: inherit;
    height: 1.5rem;
    background-color: variables.$neutral-Very-light-grayish-cyan;

    border-radius: 0.3rem;
}

.inputbox__icon {
    position: relative;
    width: 0.41rem;
    height: 0.64rem;
    margin: 0.56rem;
}

.input--value {
    margin: 0.2rem 0.24rem 0 0;
    font-size: 1rem;
    font-weight: variables.$font-weight;
    font-style: normal;
    line-height: 1.5rem;
    font-family: variables.$font-family;
    color: variables.$neutral-Very-dark-cyan;
}

.heading_text {
    margin: 1rem 0 0 0;
    font-weight: variables.$font-weight;
    font-size: 16px;
    line-height: 23.7px;
    font-style: normal;
    font-family: variables.$font-family;
    color: variables.$neutral-Grayish-cyan;
}

.tip {
    width: 15.79rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 0.6rem;
    column-gap: 0.5rem;
    margin-top: 0.6rem;
}

.tip-wrapper {
    width: 4.9rem;
    height: 2rem;
    background-color: variables.$neutral-Very-dark-cyan;
    font-weight: variables.$font-weight;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.3rem;
}

.tip-wrapper:nth-child(3) {
    background-color: variables.$strong-cyan;

    .tip--value {
        color: variables.$neutral-Very-dark-cyan;
    }
}

.tip-wrapper:nth-child(6) {
    background-color: variables.$neutral-Very-light-grayish-cyan;
    .tip--value {
        color: variables.$neutral-Grayish-cyan;
    }
}

.tip--value {
    text-decoration: none;
    color: white;
}

.display-group {
    // margin: 2.65rem 0 0 1.6rem;
    font-size: 0.7rem;
    display: flex;
    flex-direction: row;
    gap: 3.65rem;
    width: 14rem;
}

.display-text {
    font-size: 0.65rem;
    line-height: 0.97rem;
    font-style: normal;
    color: variables.$neutral-White;
}

.calculated--value {
    font-style: normal;
    font-size: 2rem;
    position: relative;
    top: -0.75rem;
    left: 0.435rem;
    color: variables.$strong-cyan;
}

.text--subtext {
    font-size: 0.52rem;
    font-style: normal;
    line-height: 0.8rem;
    color: variables.$neutral-Grayish-cyan;
}

.display-text {
    display: flex;
    flex-direction: column;
}

.reset__btn {
    background-color: variables.$strong-cyan;
    display: flex;
    justify-content: center;
    border-radius: 0.3rem;
    margin: 3.4rem 0 0 -0.01rem;
}

.btn {
    padding: 0.4rem;
    font-size: 0.9rem;
    line-height: 1.3rem;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
}
