@use "variables";

.inputbox__bill:hover {
    border: 0.09rem solid variables.$less-stronger-cyan;
}

.inputbox__nop_hover {
    border: 0.09rem solid variables.$neutral-red;
}

.tip-wrapper:nth-child(6):hover {
    border: 0.09rem solid variables.$less-stronger-cyan;
}

.reset__btn:active {
    background-color: variables.$less-stronger-cyan;

    .btn:active {
        background-color: variables.$less-stronger-cyan;
    }
}

.tip-wrapper--focus {
    background-color: variables.$strong-cyan;
    // .tip--value--focus {
    //     color: variables.$neutral-Very-dark-cyan;
    // }
}

.tip-wrapper:nth-child(6) {
    background-color: variables.$neutral-Very-light-grayish-cyan;
    .tip--value {
        color: variables.$neutral-Grayish-cyan;
    }
}
