@use "variables";
@use "components";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$neutral-Light-grayish-cyan;
    margin-top: 3.3rem;
    overflow-y: scroll;
    overflow-x: hidden; /* hides the horizontal scroll bar */
}

main {
    margin-top: 3.04rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 38.5rem;
    height: 20rem;
    border-radius: 0.8rem;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 0.7rem;
}

.container__bill {
    margin: 1rem 0 -0.1rem 2rem;
    width: 15rem;
}

.container__noperson {
    margin: 1.7rem 0 0 2rem;
    width: 15rem;
}

.container__tip-input {
    margin: 1rem 0 -0.25rem 2rem;
    display: flex;
    flex-direction: column;
}

.container__display {
    margin: 1.35rem 0 0 2rem;
    background-color: variables.$neutral-Very-dark-cyan;
    display: flex;
    flex-direction: column;
    width: 15.5rem;
    height: 15rem;
    padding: 2.5rem 0 0 1.6rem;
    gap: 1rem;
    border-radius: 0.3rem;
}
