@use "variables";
@use "components";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$neutral-Light-grayish-cyan;
    margin-top: 3.6rem;
    overflow-y: scroll;
    overflow-x: hidden; /* hides the horizontal scroll bar */
}

main {
    margin-top: 3.3rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 35.42rem;
    max-width: 35.42rem;
    height: fit-content;
    padding: 0 1.7rem 1.3rem 1rem;
    border-radius: 0.8rem;
    box-shadow: -0.1rem -0.1rem 2rem -0.2rem variables.$neutral-Grayish-cyan;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 0.7rem;
}

.container__bill {
    margin: 0.8rem 0 0 1rem;
    width: 15rem;
    min-width: 5rem;
}

.container__noperson {
    margin: 1.7rem 0 0 0.7rem;
    width: 15rem;
    min-width: 5rem;
}

.container__tip-input {
    margin: 0.8rem 0 -0.25rem 0.8rem;
    display: flex;
    flex-direction: column;
}

.container__display {
    margin: 1.4rem 0 0 2.23rem;
    background-color: variables.$neutral-Very-dark-cyan;
    display: flex;
    flex-direction: column;
    padding: 1.69rem;
    border-radius: 0.8rem;
}

// - Mobile: 375px
// - Desktop: 1440px

@media (max-width: 720px) {
    $font_size: 1rem;
    html {
        font-size: $font_size;
    }

    main {
        margin-top: 3.04rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        padding: 0 1.7rem 1.5rem 1rem;
        border-radius: 0.8rem;
        box-shadow: -0.1rem -0.1rem 2rem -0.2rem variables.$neutral-Grayish-cyan;
    }

    .container__display {
        margin-left: -0.000002rem;
    }
}
