@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

$strong-cyan: hsl(172, 67%, 45%);

$neutral-Very-dark-cyan: hsl(183, 100%, 15%);
$neutral-Dark-grayish-cyan: hsl(186, 14%, 43%);
$neutral-Grayish-cyan: hsl(184, 14%, 56%);
$neutral-Light-grayish-cyan: hsl(185, 41%, 84%);
$neutral-Very-light-grayish-cyan: hsl(189, 41%, 97%);
$neutral-White: hsl(0, 0%, 100%);

$font_size: 1.5rem;

$font-family: "Space Mono", monospace;
$font-weight: 700;
